{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <a href="{{ path('product_index') }}">Product</a> / 
    <a href="{{ path('category_index') }}">Category</a>
{% endblock %}
